.side-bar
  .user-name
    .top-items
      .name
        masa
      .iconlist
        = link_to "#", class: "iconlist__icon__edit" do
          = icon('far', 'edit', class: "iconlist__icon")
        = link_to "#", class: "iconlist__icon__cog" do
          = icon('fas', 'cog', class: "iconlist__icon")
  .group-list
    .group
      .group-name
        最強
      .group-message
        まだメッセージはありません
    .group
      .group-name
        余裕
      .group-message
        まだメッセージはありません

