.side-bar
  .user-name
    .top-items
      .name
        masa
      .icon-list
        = link_to "#", class: "icon-list__icon__edit" do
          = icon('far', 'edit', class: "icon-list__icon")
        = link_to "#", class: "icon-list__icon__cog" do
          = icon('fas', 'cog', class: "icon-list__icon")
  .group-list
    .group
      .group-name
        最強
      .group-message
        まだメッセージはありません
    .group
      .group-name
        余裕
      .group-message
        まだメッセージはありません

